/* ===== Light Theme ===== */

:root {
  --background: #fafafc;
  --surface: #ffffff;
  --surface-hover: #f5f5f7;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --border: #e5e7eb;

  --primary: var(--primary-500);
}

/* ===== Dark Theme ===== */

[data-theme="dark"] {
  --background: #0f0f14;
  --surface: #1a1a22;
  --surface-hover: #23232d;

  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;

  --border: #313244;

  --primary: var(--primary-400);
}